@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/content/content.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/places/places.css');
@import url('../blocks/card/card.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_is-animated/popup_is-animated.css');
@import url('../blocks/popup/_is-opened/popup_is-opened.css');

.card__footer {
    background-color: rgba(255, 255, 255, 0.8); 
    color: #222; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .card__title {
    color: #222; 
    font-size: 16px;
    font-weight: bold;
  }
  
  .card__likes {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .card__like-button {
    background: url('/images/like-inactive.svg') no-repeat center; 
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none; 
  }
  
  .card__like-button_is-active {
    background: url('/images/like-active.svg') no-repeat center; 
  }
  
  .card__like-count {
    color: #222; 
    font-size: 14px;
  }
  
  /* Модальное окно */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.8); 
  }
  
  /* Модальное изображение */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%; 
    max-width: 700px; 
  }
  
  /* Кнопка закрытия */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  
  
  